---
title: It Began with Heider
subtitle: 
lecture_date: 2022-11-12
slides:
  images: sunclouds
  mixins:
    - lecture_mixins
hidden: false
---

<handout>

In 1958 Heider published a book on what he called ‘naive psychology’ and, interchangeably, ‘commonsense psychology’; now more commonly referred to as folk psychology. 
Although widely ignored,[^unknown] 
no comparably detailed work on folk psychology has yet appeared.

[^unknown]: To illustrate, the work is not cited in an recent collection of some of the best work on folk psychology \citep{hutto:2007_folk}; nor does Dennett, who claims to have introduced the term ‘folk psychology’ \citep[pp.~73--74]{dennett:2014_intuition}, mention Heider’s book.

Heider’s overall aim is to advance ‘[t]he scientific study of interpersonal relations’ or, as we say, social interactions \citep[p.~3]{heider:1958_psychology}.
He views naive psychology as having a central role in achieving this aim. 

Heider offers two ways of characterising naive psychology. 
On the first,

> ‘the unformulated or half-formulated knowledge of interpersonal relations as it is expressed in our everyday language and experience [...] will be referred to as common-sense or naive psychology’ \citep[p.~4]{heider:1958_psychology} 

Like subsequent authors (including \citet[p.~140]{clark:1987_folk} and \citet[pp.~73--74]{dennett:2014_intuition}), Heider makes an analogy with naive physics:

> ‘In the same way one talks about a naive physics which consists of the unformulated ways we take account of simple mechanical laws in our adapted actions, one can talk about a “naive psychology” which gives us the principles we use to build up our picture of the social environment and which guides our reactions to it.’ \citep[p.~5]{heider:1958_psychology} 

What is the role of naive psychology in advancing the scientific study of interpersonal relations? {# Heider characterises it as a base (one of two, the other being scientific psychology.  #}
Heider thinks of naive psychology as ‘unsurpassed for the description of even the most subtle relationships’. 
But science requires systematicity, which naive psychology lacks.
Heider’s project is therefore  to provide:

> ‘suggestions [drawing on both naive and scientific psychology] for the construction of a language that will allow us to represent, if not all, at least a great number of interpersonal relations, discriminated by conventional language in such a way that their place in a general system will become clearer.’ (p. 9)

Heider characterises the same work as offering:

> ‘a preliminary approach to an analysis of basic components of our naive ideas about other people and social situations.’ (p. 18)

{# How does Heider understand the relation between naive and scientific psychology?  They are the two ‘bases’ (p. 4) that he draws on in attempting to advance ‘[t]he scientific study of interpersonal relations’. #}

Heider is explicit that systematising naive psychology is one way of understanding interpersonal behaviour:

> ‘our main purpose is to make explicit the system of concepts that underlies interpersonal behavior’ \citep[pp.~12]{heider:1958_psychology}

{# Should not read too much into this; Heider is opposing his approach to that of philosophers like Ryle who appear to be discussing words.   #}

In what sense might a system of concepts ‘underlie’ interpersonal behaviour? 
As Heider specifies a ‘program for describing interpersonal relations’ (p.~14),
we might be tempted to construe being *underlying* as merely a matter of *being sufficient to provide a systematic description of*.  Heider does, however, endorse a stronger thesis:

> ‘The general features of the causal network are thus in some way internalized and mastered. They form the content of the cognitive matrix that underlies our interpretations of other people’s behavior and our attempts to influence it.’ 
> \citep[pp.~297--8]{heider:1958_psychology}
{# QUOTE CONTINUES: #}
{# We have specific ideas about the possible conditions and effects of the different vitally relevant changes and entities. Our implicit knowledge of the conditions allows us to influence the distal parts of the world in purposeful action; and our knowledge of the effects makes cognition and expectation possible.’  \citep[pp.~297--8]{heider:1958_psychology}#}


We can therefore regard Heider as responsible for introducing and defending three theses:

1. ‘there is a system hidden in our [ordinary, everyday] thinking about interpersonal relations, and [...] this system can be uncovered’ (p.~14)

1. Uncovering this system enables us to describe interpersonal relations in a systematic, scientific way.

1. Humans’ capacities to interact with others depend, in part[^nuance], on them having ‘internalized and mastered’ this system.

[^nuance]: \citet[p.~298]{heider:1958_psychology} concludes with the qualification that ‘one has to be aware that the picture that evolves in this way shows only a part of what is going on between people, that part which, let us say, inclines toward the side of “intellectualism.” To complete the picture one would have to add other facets, for instance, one would have to give an account of the genetic sources of interpersonal behavior.’



How should ‘hidden’ and ‘uncovered’ be understood? 
Maybe the thinking contains only the slightest glimmers which provide inspiration and uncovering is mainly construction, so that ethnography would be irrelevant to uncovering the system. In this case, there may be a large gap between naive psychology and the psychological bases of capacities for social interaction.
Or maybe the uncovering should be understood as merely tidying up to reveal things that are already present but not easy to see.
In this case, we could interpret Heider as committed to the claim that implicit knowledge of naive psychology just is a psychological basis of capacities for social interaction.
We are pushed towards the second possibility by Heider’s stress throughout on ‘analyzing the data through which our beliefs are revealed’ (p.~60). 
To illustrate:

> ‘to study the cognitions and actions directed toward the perceptions of another person, we have to explore our beliefs regarding the conditions and effects of perception. [...] The common-sense assumptions about the conditions that make it possible for one person to recognize what another is perceiving are for the most part implicit. If people were asked about these conditions they probably would not be able to make a complete list of them. Nevertheless, these assumptions are a necessary part of interpersonal relations; if we probe the events of everyday behavior, they can be brought to the surface and formulated in more precise terms.’ \citep[p.~60]{heider:1958_psychology}

Heider appears to view social interaction as made possible by the internalization and mastery of a system which can be characterised by re-formulating naive psychology.
This is confirmed by a second characterisation of naive psychology:

> ‘naive psychology, the pretheoretical and implicit system which underlies interpersonal relations.’ \citep[p.~58]{heider:1958_psychology}[^stich-ravenscroft]

[^stich-ravenscroft]: In terms of the distinction introduced by \citet{stich:1994_whata}, Heider’s first characterisation is folk psychology in the ‘external’ sense whereas Heider’s second characterisation is folk psychology in the ‘internal’ sense.


Treating as equivalent the two ways of characterising naive psychology presupposes what we will call *Heider’s Thesis*:

> *Heider’s Thesis* [broad version]
> All capacities for social interaction depend on representing commonsense psychological principles and making inferences from them.


In case this thesis seems too obvious to be even worth formulating, 
consider some views which contradict it or at least justify considering whether it is true:

1. There are no commonsense psychological principles (we take this view to be refuted by Heider’s work).

1. More than one incommensurable system of principles can be uncovered in commonsense thinking about social interactions (compare \citealp{stich:1994_whata}).

1. Commonsense psychological principles provide limited insight into social interactions (perhaps because their role is not only explanatory but also regulatory \citep{mcgeer:2007_regulative,zawidzki:2013_mindshaping} or normative).

1. Commonsense psychological principles vary more between cultures than do capacities for social interaction (compare \citealp{lillard:1998_ethnopsychologies}).

1. Human share capacities for social interaction with other animals that do not represent commonsense psychological principles.

1. Adults share capacities for social interaction with infants but infants do not represent commonsense psychological principles.

One response to the last two views would be to retreat to a narrower version of Heider’s Thesis:

> *Heider’s Thesis* [narrow version]
> Capacities for social interaction involving communication about psychological things depend on representing folk psychological principles and making inferences from them.

As \citet{stich:1994_whata} argue, even this weaker thesis is far from being obviously true.


## x

The broad version of Heider’s Thesis is presupposed by a body of comparative and developmental research. 
You can use Heider’s Thesis to get from ‘individuals of this kind exhibit a certain capacity social interaction’ to ‘individuals of this kind represent the corresponding folk psychological principles’.

Further, the thesis is confounded with the weaker view that certain social interactions depend on representing psychological principles though not necessarily *folk* principles.
One aim of what follows is to separate these views.


{# Heider can be interpreted as be assuming this much:

> *Heider’s Thesis* The unformulated or half-formulated knowledge of interpersonal relations as it is expressed in our everyday language involves a system of concepts that underlies interpersonal behavior

There is also a strong version of this thesis (that Heider need not endorse, and would not[^nuance]):

> *Strong Thesis* The unformulated or half-formulated knowledge of interpersonal relations as it is expressed in our everyday language involves a system of concepts that underlies **all** interpersonal behavior #}


## Our questions (using Heider’s terms)

Weaker to stronger challenges:

1. Does the unformulated or half-formulated knowledge of interpersonal relations as it is expressed in our everyday language involve a system of concepts that underlies **all** interpersonal behavior? 

2. Does the unformulated or half-formulated knowledge of interpersonal relations as it is expressed in our everyday language involve a system of concepts that underlies that interagential behaviour which involves communication about psychological things? (Roughly, are folk psychological practices underpinned by knowledge of folk psychological principles?)

1. Does the unformulated or half-formulated knowledge of interpersonal relations as it is expressed in our everyday language involve a system of concepts that underlies **any** interpersonal behavior? 

Problem with these formula is that it has borrowed an unspecified ‘underlies’ from Heider. Will need to refine by distinguishing different ways in which the knowledge of interpersonal relations may be involved.


## x

Since Heider has not been influential, we need to estabilsh that Heider’s thesis has been endorsed elsewhere.

{# RIGHT IDEA BUT NOT COMPELLING BECAUSE RATCLIFFE & HUTTO PROBABLY DONT HAVE IN MIND A THESIS ABOUT EXPLANATION

> ‘The most neutral, anodyne definition of ‘folk psychology’ equates it to the way---whatever it turns out to be---that social beings manage to conduct interpersonal relations (Hornsby 1997, pp. 4--5)’ \citep[p.~1]{ratcliffe:2007_introduction}[^not-hornsby]

[^not-hornsby]: This is not quite Hornsby’s characterisation. She eschews the term ‘folk psychology’ \citep[p.~4]{hornsby:1997_simple} and offers the view that commonsense psychology is ‘the subject matter which people use in understanding one another, which we use all the time, usually quite unreflectively’.

Note that this is only ‘neutral’ if one does not also assume that folk psychology is in any sense implicit in ordinary thought and talk about agents, their actions and minds. #}



## Relation to other questions


By contrast philosophers have mostly considered these questions:

> To what extent are the unformulated or half-formulated beliefs about interpersonal relations as they are expressed in our everyday language true? (Churchland etc)

> Can the unformulated or half-formulated beliefs about interpersonal relations as they are expressed in our everyday language be understood as a theory?

</handout>



