---
title: 'Welcome'
slides:
  subtitle: 'Folk Psychology Project'
  defaultUnitMixins:
    - unit_mixins
    - philosophical_behavioural_science_mixins
  defaultLectureMixins:
    - lecture_mixins
lectures:
  - doc01
references: '~/endnote/phd_biblio.json'
glossary: 
  - '~/endnote/gls.yaml'
noHandoutHeader: true
---


<handout>
</handout>

