
mixin topicTable()
  table.data
    thead
      tr
        td.topic topic
        td.q question
    tbody
      tr.odd
        td.topic Mind
        td.q What good is your perceptual awareness of the objects around you?
      tr.even
        td.topic Thought & Language
        td.q What’s special about having two names for one thing?
      tr.odd
        td.topic Politics
        td.q Are you responsible for the harm of world poverty?
      tr.even
        td.topic Metaphysics
        td.q What is necessary for your personal survival?
      tr.odd
        td.topic Action
        td.q Of the events involving you, what determines which are your actions?
      tr.even
        td.topic Ethics
        td.q Who, if anyone, has the right to determine whether you should die?

//- updated after the course to reflect actual questions
mixin topicTable2()
  table.data
    thead
      tr
        td.topic topic
        td.q question
    tbody
      tr.odd
        td.topic Mind
        td.q What good is your perceptual awareness of the objects around you?
      tr.even
        td.topic Thought & Language
        td.q Is there more to the meaning than reference?
      tr.odd
        td.topic Politics
        td.q In what way, if any, are you responsible for the harm of world poverty?
      tr.even
        td.topic Metaphysics
        td.q What is metaphysically necessary for your personal survival?
      tr.odd
        td.topic Action
        td.q Of the events involving you, what determines which are your actions?
      tr.even
        td.topic Ethics
        td.q What, if anything, is ethically wrong with suicide?

mixin slideTopicTable(p)
  if typeof(p) === 'undefined'
    - p = {}
  +slide_middle
    +topicTable
    +hide('.q:gt('+(p.step-1)+')', 0)
    +blur('tbody tr:not(:eq('+(p.step-2)+'))', '2px', 0)
    .slide
      +blur('tr:eq('+(p.step-1)+')')
      +unblur('tr:eq('+p.step+')')
      +show('.q:eq('+p.step+')')



mixin awarenessQ()
  p 
    span What are the 
    span.functions functions
    span  of 
    span.perceptual-awareness perceptual awareness
    span ?


mixin awarenessQ2()
  p Can you 
    span.perceive perceive
    span   something without being perceptually aware of it?

mixin awarenessAns1()
  p Simplest Idea:
  p.indent Perceptual awareness enables control of action.
