---
title: Notes on Folk Pscyhology
subtitle: It Began with Heider
iauthor: Bart Geurts and Steve Butterfill
iauthorshort: Geurts \& Butterfill
date: 2022-11-14
---

In 1958 Heider published a book on what he called ‘naive psychology’ and, interchangeably, ‘commonsense psychology’; now more commonly referred to as folk psychology. 
Although widely ignored,[^unknown] 
no comparably detailed work on folk psychology has yet appeared.

[^unknown]: The work is not cited in an recent collection of some of the best work on folk psychology \citep{hutto:2007_folk}; nor does Dennett, who claims to have introduced the term ‘folk psychology’ \citep[pp.~73--74]{dennett:2014_intuition}, mention Heider’s book. We have not seen it cited in any work on folk psychology.

Heider’s overall aim is to advance ‘[t]he scientific study of interpersonal relations’ or, as we say, social interactions \citep[p.~3]{heider:1958_psychology}.
He views naive psychology as having a central role in achieving this aim. 

Heider offers two ways of characterising naive psychology. 
On the first,

> ‘the unformulated or half-formulated knowledge of interpersonal relations as it is expressed in our everyday language and experience [...] will be referred to as common-sense or naive psychology’ \citep[p.~4]{heider:1958_psychology} 

Like subsequent authors (including \citet[p.~140]{clark:1987_folk} and \citet[pp.~73--74]{dennett:2014_intuition}), Heider makes an analogy with naive physics:

> ‘In the same way one talks about a naive physics which consists of the unformulated ways we take account of simple mechanical laws in our adapted actions, one can talk about a “naive psychology” which gives us the principles we use to build up our picture of the social environment and which guides our reactions to it.’ \citep[p.~5]{heider:1958_psychology} 

What is the role of naive psychology in advancing the scientific study of interpersonal relations? {# Heider characterises it as a base (one of two, the other being scientific psychology.  #}
Heider thinks of naive psychology as ‘unsurpassed for the description of even the most subtle relationships’. 
But science requires systematicity, which naive psychology lacks.
Heider’s project is therefore  to provide:

> ‘suggestions [drawing on both naive and scientific psychology] for the construction of a language that will allow us to represent, if not all, at least a great number of interpersonal relations, discriminated by conventional language in such a way that their place in a general system will become clearer.’ (p. 9)

Heider characterises the same work as offering:

> ‘a preliminary approach to an analysis of basic components of our naive ideas about other people and social situations.’ (p. 18)

{# How does Heider understand the relation between naive and scientific psychology?  They are the two ‘bases’ (p. 4) that he draws on in attempting to advance ‘[t]he scientific study of interpersonal relations’. #}

Heider is explicit that systematising naive psychology is one way of understanding social interaction:

> ‘our main purpose is to make explicit the system of concepts that underlies interpersonal behavior’ \citep[pp.~12]{heider:1958_psychology}

{# Should not read too much into this; Heider is opposing his approach to that of philosophers like Ryle who appear to be discussing words.   #}

In what sense does a system of concepts ‘underlie’ interpersonal behaviour? 
As Heider specifies a ‘program for describing interpersonal relations’ (p.~14),
we might be tempted to construe *underlying* something as merely a matter of being sufficient to provide a systematic description of it. 
Heider does, however, endorse a stronger thesis:

> ‘The general features of the causal network are thus in some way internalized and mastered. They form the content of the cognitive matrix that underlies our interpretations of other people’s behavior and our attempts to influence it.’ 
> \citep[pp.~297--8]{heider:1958_psychology}
{# QUOTE CONTINUES: #}
{# We have specific ideas about the possible conditions and effects of the different vitally relevant changes and entities. Our implicit knowledge of the conditions allows us to influence the distal parts of the world in purposeful action; and our knowledge of the effects makes cognition and expectation possible.’  \citep[pp.~297--8]{heider:1958_psychology}#}


We can therefore regard Heider as responsible for introducing and defending three theses:

1. ‘there is a system hidden in our [ordinary, everyday] thinking about interpersonal relations, and [...] this system can be uncovered’ (p.~14)

1. Uncovering this system enables us to describe interpersonal relations in a systematic, scientific way.

1. Humans’ capacities to interact with others depend, in part[^nuance], on them having ‘internalized and mastered’ this system.

[^nuance]: The system is suppose to show ‘only a part of what is going on between people, that part which, let us say, inclines toward the side of “intellectualism.” To complete the picture one would have to add other facets, for instance, one would have to give an account of the genetic sources of interpersonal behavior’
\citep[p.~298]{heider:1958_psychology}.


How should ‘hidden’ and ‘uncovered’ in the first thesis be understood? 
Maybe the thinking contains only the slightest glimmers which provide inspiration and ‘uncovering’ is imaginative construction, so that ethnography would be irrelevant to uncovering the system. In this case, there may be a large gap between naive psychology and the psychological bases of capacities for social interaction.
Or maybe the uncovering should be understood as merely tidying up to reveal things that are already present but not easy to see.
In that case, we could interpret Heider as committed to the claim that implicit knowledge of naive psychology just is a psychological basis of capacities for social interaction.
We are pushed towards the second possibility by Heider’s stress throughout on ‘analyzing the data through which our beliefs are revealed’ \citep[p.~60]{heider:1958_psychology}. 
To illustrate, Heider’s discussion of enabling conditions for perception is clearly presented as a case of tidying up what is already assumed in ordinary thought and talk about perceiving: 

> ‘to study the cognitions and actions directed toward the perceptions of another person, we have to explore our beliefs regarding the conditions and effects of perception. [...] The common-sense assumptions about the conditions that make it possible for one person to recognize what another is perceiving are for the most part implicit. If people were asked about these conditions they probably would not be able to make a complete list of them. Nevertheless, these assumptions are a necessary part of interpersonal relations; if we probe the events of everyday behavior, they can be brought to the surface and formulated in more precise terms.’ \citep[p.~60]{heider:1958_psychology}

It seems safe to say that Heider views social interaction as made possible by the internalization and mastery of a system which can be characterised by tidying up naive psychology.
This is confirmed by a second characterisation of naive psychology:

> ‘naive psychology, the pretheoretical and implicit system which underlies interpersonal relations.’ \citep[p.~58]{heider:1958_psychology}[^stich-ravenscroft]

[^stich-ravenscroft]: In terms of the distinction introduced by \citet{stich:1994_whata}, Heider’s first characterisation is folk psychology in the ‘external’ sense whereas Heider’s second characterisation is folk psychology in the ‘internal’ sense.


Treating as equivalent the two ways of characterising naive psychology presupposes what we will call *Heider’s Thesis*:

> *Heider’s Thesis* [broad version]
> All capacities for social interaction depend on representing commonsense psychological principles and making inferences from them.[^internal-is-external]

[^internal-is-external]: In  \citet{stich:1994_whata}’s terms, Heider’s Thesis is roughly that internal folk psychology is external folk psychology. Because Stich and Ravenscroft (pp.~457--8) are concerned with a narrow set of social interactions than Heider, Heider’s Thesis is a stronger claim.

According to \citet[p.~3]{molder:2016_mind}, ‘some philosophers and psychologists assume that our implicit grasp of folk psychology is the very thing that makes social cognition possible.’ We take this to be endorsement of Heider’s Thesis.

In case this thesis seems too obvious to be even worth formulating, 
consider some views which contradict it or at least justify considering whether it is true:

1. There are no commonsense psychological principles (we take this view to be refuted by Heider’s work).

1. Multiple, incommensurable systems of principles can be uncovered in commonsense thinking about social interactions (compare \citealp{stich:1994_whata}).

1. Commonsense psychological principles provide limited insight into social interactions (perhaps because their role is not only explanatory but also regulatory \citep{mcgeer:2007_regulative,zawidzki:2013_mindshaping} or normative).

1. Commonsense psychological principles vary more between cultures than do capacities for social interaction (compare \citealp{lillard:1998_ethnopsychologies}).

1. Human share capacities for social interaction with other animals that do not represent commonsense psychological principles.

1. Adults share capacities for social interaction with infants but infants do not represent commonsense psychological principles.

One response to the last two views would be to retreat to a narrower version of Heider’s Thesis:

> *Heider’s Thesis* [narrow version]
> Capacities for social interaction involving communication about psychological things depend on representing commonsense psychological principles and making inferences from them.[^molder-endorses]

[^molder-endorses]: \citet[p.~5]{molder:2016_mind} regards the narrow version as too obvious to need argument: ‘I will understand ‘folk psychology’ primarily in the sense of a conceptual framework that includes certain familiar psychological terms as well as the links between them. Of course, this framework is put to practical use when we attribute mental states to others in order to make sense of their action

As \citet{stich:1994_whata} argue, even this weaker thesis is far from obvious.


## A Distinction

We distinguish:

1. {# principles of commonsense psychology #} commonsense principles---these are principles that are already present but not easy to see in everyday social interactions involving communication about psychological things;

2. implicit principles---these are principles whose truth would justify patterns of social interaction; they characterise how aspects of the world would have to be in order for social interactions to be successful or beneficial; and 

3. internalized principles---in explaining aspects of agents’ capacities for social interaction we may need to postulate representations; the internalized principles are those that enable us to identify what these representations are of.[^maybe-not-principles]

[^maybe-not-principles]: We avoid insisting that agents represent internalized principles as we are agnostic on hardware implementation (compare \citealp{churchland:1989_folk}). In \citet{Marr:1982kx}’s terms, internalized principles are those which contribute to a computational description of capacities for social interaction.

Heider’s Thesis entails that (3) coincides with, or is a subset of, (1). 


## Potential Opposition to Heider’s Thesis


### Stich and Ravenscroft

Although not their primary concern, by distinguishing *internal* and *external* notions of folk psychology they draw attention that the Thesis is a substantial claim \citet{stich:1994_whata}.

### Gallese

\citet[p.~659]{gallese:2007_theory} opposes unargued acceptance of it:

> ‘A growing sense of discomfort towards a blind faith in folk psychology to characterize social cognition is indeed surfacing within the field of philosophy of mind.’ 

> ‘the automatic translation of the folk psychology-inspired ‘flow charts’ into encapsulated brain modules, specifically adapted to mind-reading abilities, should be carefully scrutinized. Language can typically play ontological tricks by means of its ‘constitutiveness’; that is, its capacity to give an apparent ontological status to the concepts words embody (Bruner 1986, p. 64).’ \citep[p.~667]{gallese:2007_theory}

### Bermúdez

‘the centrality of folk psychology in explaining what makes social interactions possible has rarely been challenged’ \citep[p.~26]{bermudez:2003_domain}

‘Granted that we sometimes do make reflective and explicit use of the concepts of folk psychology in making sense of the behaviour of others, should we conclude that our unreflective social understanding involves an implicit application of the concepts of folk psychology in the interests of explanation and prediction? Should we conclude that all our social understanding involves deploying the concepts and explanatory/predictive practices of folk psychology?’ \citep[p.~27]{bermudez:2003_domain}

‘According to the narrow construal, the domain of folk psychology should not be presumed to extend further than those occasions on which we explicitly and consciously deploy the concepts of folk psychology in the services of explanation and/or prediction. At the other end of the spectrum lies the broad construal, which makes all social understanding a matter of the attribution of mental states and the deployment of those attributed states to explain and predict behaviour.’ \citep[p.~27]{bermudez:2003_domain}

Thesis: ‘one can act effectively in complicated social interactions without bringing to bear the explanatory and predictive apparatus of folk psychology’ \citep[p.~42]{bermudez:2003_domain}

Key consideration for narrow view: ‘Sensitivity to emotional states feeds directly into action without any attribution of emotional states.’ \citep[p.~38]{bermudez:2003_domain}


### Pickering and Chater

This is a bit of a tangent (focus is on explaining cognition generally, not social cognition specifically):

> ‘folk psychology applies to "knowledge-rich" aspects of cognition, which have proved completely unamenable to cognitive science, whereas cognitive science has been limited to "knowledge-free" aspects of cognition, about which folk psychology is silent.’ \citep[p.~311]{pickering:1995_why}

> ‘The intractability of formalizing folk psychology explains why there has been a singular lack of success in attempting to provide a cognitive science of knowledge-rich mental processes; and why cognitive science has succeeded only by focusing on knowledge-free aspects of cognition, with which folk psychology is not concerned.’ \citep[p.~312]{pickering:1995_why}


### Morton

Indirectly relevant: \citet{morton:2007_folk} argues for ‘the non-existence of folk psychology, as a single unitary capacity’. 


### McGeer / Zawidzki

\citet[p.~194]{zawidzki:2008_function}:

> ‘I shall argue that the raison d’eˆtre of this practice [folk psychology] cannot be providing accurate representations of our fellows’ mental states that support accurate predictions of their behavior. Rather, its raison d’eˆtre is more likely shaping our fellows’ minds, in order to make coordination with them easier.’ 

See also \citet{mcgeer:2007_regulative}.

{# ## Our questions (using Heider’s terms)

Weaker to stronger challenges:

1. Does the unformulated or half-formulated knowledge of interpersonal relations as it is expressed in our everyday language involve a system of concepts that underlies **all** interpersonal behavior? 

2. Does the unformulated or half-formulated knowledge of interpersonal relations as it is expressed in our everyday language involve a system of concepts that underlies that interagential behaviour which involves communication about psychological things? (Roughly, are folk psychological practices underpinned by knowledge of folk psychological principles?)

1. Does the unformulated or half-formulated knowledge of interpersonal relations as it is expressed in our everyday language involve a system of concepts that underlies **any** interpersonal behavior? 

Problem with these formula is that it has borrowed an unspecified ‘underlies’ from Heider. Will need to refine by distinguishing different ways in which the knowledge of interpersonal relations may be involved. #}


## Relation to other questions

Our project concerns relations between commonsense, implicit and internalized principles. By contrast philosophers have mostly considered these questions:

> What are the commonsense psychological principles (Heider; \citealp{davidson:1963_orig}; \citealp{Bratman:1987xw})?

> To what extent do the various commonsense, implicit or internalized psychological principles contradict or complement scientific theories? (\citealp{churchland:1989_folk}; \citealp{Dennett:1991hr}; \citealp{Fodor:1987rt}; \citealp{hornsby:1997_simple})

> Do the internalized psychological principles constitute a theory?

> [Any missing?]



## Development and Comparative Applications of Heider’s Thesis

The broad version of Heider’s Thesis is presupposed by a body of comparative and developmental research. 
You can use Heider’s Thesis to get from ‘individuals of this kind exhibit a certain capacity social interaction’ to ‘individuals of this kind represent the corresponding folk psychological principles’.

Further, the thesis is confounded with the weaker view that certain social interactions depend on representing psychological principles though not necessarily *folk* principles.
One aim of what follows is to separate these views.

{# 
## Todo?

Since Heider has not been influential, we may need to establish that Heider’s thesis has been endorsed elsewhere. #}

{# 
RIGHT IDEA BUT NOT COMPELLING BECAUSE RATCLIFFE & HUTTO PROBABLY DONT HAVE IN MIND A THESIS ABOUT EXPLANATION

> ‘The most neutral, anodyne definition of ‘folk psychology’ equates it to the way---whatever it turns out to be---that social beings manage to conduct interpersonal relations (Hornsby 1997, pp. 4--5)’ \citep[p.~1]{ratcliffe:2007_introduction}[^not-hornsby]

[^not-hornsby]: This is not quite Hornsby’s characterisation. She eschews the term ‘folk psychology’ \citep[p.~4]{hornsby:1997_simple} and offers the view that commonsense psychology is ‘the subject matter which people use in understanding one another, which we use all the time, usually quite unreflectively’.

Note that this is only ‘neutral’ if one does not also assume that folk psychology is in any sense implicit in ordinary thought and talk about agents, their actions and minds. 
#}

