

@font-face {
  font-family: "Linux Libertine";
  src: url("./fonts/LinLibertine_R.woff") format('woff');
}
font_size = 19pt
background_color = black
text_color = white


default_text_shadow()
  text-shadow: 0 0 2px background_color, 1px 1px 2px background_color, 1px -1px 2px background_color, -1px 1px 2px background_color, -1px -1px 2px background_color, 0 0 5px background_color, 0 0 5px background_color
default_text_shadow_invert()
  text-shadow: 0 0 2px text_color, 1px 1px 2px text_color, 1px -1px 2px text_color, -1px 1px 2px text_color, -1px -1px 2px text_color, 0 0 5px text_color, 0 0 5px text_color

.background-color
  background-color background_color
.text-color
  color text_color

noinvert_text()
  color text_color
  default_text_shadow()

invert_text()
  color background_color
  default_text_shadow_invert()

body
  font-family "Lato", sans-serif
  .lato
    font-family Lato
  .libertine
    font-family Linux Libertine
  font-size font_size
  noinvert_text()
  color text_color
  background background_color
  padding: 0

