---cson
layout: 'deck_unit'
title: "Introduction"
tags: []
description: """
  Reflection on redness suggests that we should be cautious about linking (a) psychological capacities, (b) phenomenology of folk colour, and (c) facts about colour.
  """
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins

+slide_middle
  p Which things are actions 
  p.indent as opposed to mere happenings?
  p.em-above (Davidson, Frankfurt, Brand, Bach, ...)

+slide
  .img1
    +img_clip('brand_1984.jpg')
  .slide
    +blur('.img1', '3px')
    +reset
      div(style='mix-blend-mode:multiply;')
        +img_clip('brand_1984_highlights2.png')
  p.source Brand, 1984
  .notes: :t
    Anyway, I want to approach this issue indirectly, by thinking about 
    Steward and Burge on agency ...


+slide_rh_white({step:true})
  +run_across
    p.center Which things manifest agency?
  .slide
    +left_half
      p: :t
        ‘The paramecium’s swimming through the beating of its cilia, in a coordinated way, 
        and perhaps its initial reversal of direction, count as agency.’
      p.right.grey-text Burge 2009 p. 259
  +right_half({step:true})
    p: :t
      ‘the paramecium cannot be an agent [...] 
    p: :t
      None of its interactions with the environment [...] need involve anything like an act on the part of the
      paramecium.’
    p.right.grey-text Steward 2009 p. 227

+slide({bkg:'steward_figure/slide01.jpg'})
  .notes: :t
    Steward’s model.
    Discoveries about psychological capacities to track agents and their actions 
    provide some, perhaps limited, support for a conclusion about which things are 
    agents.
    And what Steward calls ‘the evidence from everyday thinking’ likewise feeds into
    this conclusion.
  .slide
    .notes.handout.show(style='margin: 150px 0px 0px 380px')
      p ‘it may be that [our intuitions] make distinctions in the places they do   
      p
        span.oxf for reasons not altogether unconnected with the fact that
        span.hide.because  because 
      p there are indeed distinctions in those places which need to be discerned’
    .notes.handout.ctd \citep[p.~229]{steward:2009_animal}.
    p.right.grey-text Steward, 2009 p. 229
  .slide
    +line-through('.oxf')
    +show('.because')
