---
layout: 'deck_unit'
title: "Mechanistically Neutral"
tags: []
description: ""
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins


+slide_rh_white
  +run_across
    p.center Which things are actions?
  +left_half
    p.center mechanistically committed
    p.em-above: :t
      Those things which are appropriately related to an intention, or to a belief-desire pair, 
      or to some other state of an agent, 
      are actions.
    p ...
  +right_half
    p.center mechanistically neutral
    p.em-above Those things directed to an outcome are purposive actions.
    p Those purposive actions which happen because of a reason favouring the outcome’s occurrence are intentional actions.
    p ...

+slide_middle
  p.hem-around 1. Which things are actions?
  p.hem-around 2. Which states or processes enable agents to act?