h1 the question
p What happens when an agent acts?


p ‘The fundamental question of action theory is what makes a piece of behavior qualify as an action.’ 
.notes \citep[p.~361]{'{'}bach:1978_representational{'}'}

p ‘Not only do we lack at present sufficient means for adequately characterizing executive representations, especially effective representations, we are in need of a pattern of psychological explanation that can treat representations as causes and effects,’ 
.notes \citep[p.~377]{'{'}bach:1978_representational{'}'} : Bach’s aims are quite different from Steward’s!
