h1 The concept of
  span.strike-through agency
  span  red

p
  | ‘In the local market, we find: red, brown, white, and russet potatoes; red and green cabbages; red, yellow, and green bell peppers; red,
  | yellow, and white onions; red and white grapes; white and pink grapefruit; red, white, black, green, and yellow beans; and, of course,
  | red, white, rose, and green wine (green as in green Hungarian). Among hair colors, we find black, brown, red, blond (in­ stead of
  | yellow), gray, and white. None of these nomenclatures makes sense if we go strictly by the standard Munsell color chips. The reds in red
  | hair, red potatoes, red cabbage, red bell peppers, red onions, red grapes, red beans, red wine, and red skin are very different from the
  | blood red of the focal red Munsell chip. They are also very different from each other. They only make sense with the similarity,
  | preference, and exhaustiveness constraints. And these constraints couldn't work if it weren't for the principle of possibilities’
  | \citep[p.~372]{'{'}clark:1992_arenas{'}'}.
