---
title: "Asking Questions"
description: |
  Aim to ask at least three questions during this course.
  A significant part of your work
  on this course is to formulate and pose questions
  in response to the lecture materials (or, if you prefer,
  the works cited in them).
youtubeId: ''
streamId: ''
---
<handout>

I have sometimes heard people say, ‘there’s no such thing as a silly question.’
This is obviously false.
As you know, many questions arise from 
confusion, laziness or stupidity.
(And all three often feature together.)

But question asking is a skill.
You cannot improve without practicing it.
In asking mostly silly questions, you are attempting to improve you skill 
with the goal, eventually, of asking better questions.

Genuinely good questions are rare and precious.
Identifying and articulating such questions is hard work.

Philosophy is done by asking questions. 
The questions are not a means to learning about philosophy:
doing philosophy consists, in part, in asking questions.

As you work through each lecture, you should be attempting to 
identify and articulate questions.
This is a core part of your work.
The questions you identify should also be the foundation of your writing.

That’s why you will see a section headed ‘Ask a Question’
on each page of these lecture notes.

When you have a question:

> * Discuss it with your lecture buddy or buddies.
* Post it under ‘Ask a Question’ in the relevant section of the lecture notes.
* Ask it in your seminar.

### How Many Questions Should I Ask?

You don’t need to ask a question every week. But you should aim to ask at least three
during the course.


### How to Use the ‘Ask a Question’ Feature

To use this feature, you need to sign up for a
<a href='https://github.com/signup' target='_blank'>github</a> account.[^complain]
(Github is a kind of instaface/whatstok for nerds.)
You then need to hit the 'sign in with github' button below.
You will be asked to allow access for
something called ‘utteranc.es’ (this is the api that powers the comments).
Please do this.  You are now ready to ask your first question.

[^complain]: I know people will complain and give me bad feedback for this.
    So much web sites and accounts I need to sign in for this course!
    Lecturer should just drone over they powerpoint slides and upload them to the moodle!
    (This might be true.)


Please do use this feature.
Ask your questions at the bottom of the lecture notes from which it arises.
That way, your lecturer can collate questions for the live question session 
and prepare in advance.
Also everyone can see and think about the questions.


</handout>

<slides>
//- <script>
+slide_middle
  .hem-around-children
    p.center asking questions

</slides>
