---
title: "Components of This Course"
description: |
  How your assessment breaks down, what the formative (non-assessed) work is, 
  and what the main events each week are for.
streamId: 'dad683c5-535f-452b-948b-e4645b274d45'
youtubeId: 'XXYaJJrsMsc'
---

<handout>
The video incorrectly mentions tasks on zoxiy. I removed all these tasks. (In response to feedback from last term.)

</handout>


<slides>
//- <script>

+slide_rh_white({step:true})
  +left_half
    .hem-around-children
      p Assessed Work
      p.indent long essay, 
        br
        span summer 2022
      p.indent.slide three in term-assignments
  +right_half({step:true})
    +blur('.left-half')
    .hem-around-children
      .slide
        p Formative Work
        p.indent weekly seminar tasks on yyrama
  .slide
    +blur('.right-half')
    +run_across
      p.center feedback 
  .slide
    +unblur('.left-half, .right-half')


+slide({bkg:'feedback-document.jpg'})

+slide({bkg:'assessment_moral_psychology.png'})


+slide_middle
  p events
  p.indent.seminar seminar
    span.slide  (to discuss what you wrote about)
  .slide
    +blur('.seminar')
    p.indent live whole-class question session
      span.slide  (ask questions in advance in the teams channel for live meetings)


//- open hours
//- informal discussion

</slides>

