---
title: "Conclusion"
slides:
  mixins:
    - unit_mixins
    - moral_psychology_mixins
    - lecture_mixins
description: |
  
  
thanks: 
streamId: ''
youtubeId: ''
---

<handout>

Covered some basics on instrumental action from the point of view of theories of animal learning.

Related these to philosophical theories of action.



</handout>


<slides>
//- <script>
+conclusion
  +hide('img.bkg', 0)
  +_slide_inner
    div(style='margin-top:-550px')
      .slide
        {# +moral_psychology_df #}
      .slide
        p.em-above.why matters for: human sociality; political conflict; ethics?
      .slide
        +blur('.why')
        p.em-above.mi initial focus : moral intutions
      .slide
        +blur('.mi')
        p.em-above two questions
        .notes: :t
          Do emotions influence moral intutions?
        .notes: :t
          What do adult humans compute that enables their unreflective judgements to track moral attributes (such as wrongness)?
      .slide
        p.em-above a hypothesis: the Affect Heuristic 
        .notes: :t
          ‘if thinking about an act [...] makes you feel bad [...], then judge that it is morally wrong’.
      .slide
        p ... which generates a prediction
          span.step2.hide , for which there is some evidence.
      .slide
        +show('.step2')
+slide_middle
  p.center next steps
</slides>
