---
title: "How to Use the Online Lectures"
description: |
  Watch with a friend, and talk. Take notes. Use the 2x speed option. Skip around. Ask questions.
youtubeId: '4pjwl1ieVGc'
streamId: '67304e63-4c70-497a-9fcb-eea862e3c0b8'
---
<handout>
You can use the online lectures however you like, of course.
But I do have some ideas ...

Watch with a friend, and talk as you watch.

Take notes. (The notes on these pages are intended to provide some key quotes and a list of references 
to save you some writing;
they do not cover everything in the lecture recordings.)

Speed the videos up.  I try to speak slowly enough that you may be able to watch at 1.5x or 2x speed.

If you understand a lecture recording, you probably don’t need to read the notes as well. 
(Alternatively, reading the notes might save you some time understanding the recording.)

Skip around. If it’s too boring, move on. Don’t aim to use all the recordings and notes.

Most importantly, **ask questions**:

> * Put them to your lecture buddy or buddies.
* Add them to the chat for the next Whole-Class Live Question Session.
* Ask them in your seminar.

</handout>

<slides>
//- <script>
+slide_middle
  .hem-around-children
    p Watch with a friend, and talk
    .slide
      +blur('p:eq(0)')
      p Take notes
    .slide
      +blur('p:eq(1)')
      p Speed it up
    .slide
      +blur('p:eq(2)')
      p Skip around
    .slide
      +blur('p:eq(3)')
      p Ask questions


+slide_middle({timer:true})
  .hem-around-children
    p about the circles
  +show-timer
  +start-timer
</slides>
