---
title : 'Introduction'
description: |
  [to follow]
streamId: ''
youtubeId: ''
---

<handout>


The Overall Questions for this course are:

>  * 


</handout>

<slides>
//- <script>
+slide_middle
  p.center 
    span.linguistic.hide linguistic / 
    span.mathematical.hide  mathematical / 
    span.aesthetic.hide  aesthetic / 
  .ethical-abilities
    p.center
      span.ethical ethical 
    p.center abilities
  .notes: :t
    This is a course about ethical abilities.
  .slide
    ul.moral-abilities
      li.act act
      li.judge judge
      li.suasion be open to moral suasion
      li.feel feel
      li.other.hide ...
    .notes: :t
      What are ethical abilities? 
  .slide
    +blur('.ethical-abilities, li:not(.act)')
    //- +highlight-row('.act')
    .notes: :t
      ACT. These are abilities to act on the basis of ethical considerations,
      as when you refrain from doing something because, as you later tell me, ‘it is wrong’.
  .slide
    +blur('.act')
    +unblur('.judge')
    .notes: :t
      JUDGE. These are also abilities to judge your own and other’s actions as morally right or wrong,
      and to distinguish moral transgressions from conventional ones.
  .slide
    +blur('.judge')
    +unblur('.suasion')
    .notes: :t
      SUASION. And they are abilities to be influenced by others’ moral reasoning.
  .slide
    +blur('.suasion')
    +unblur('.feel')
    .notes: :t
      FEEL. And they are abilities to feel things like disgust or guit.
  .slide
    +blur('.feel')
    +unblur('.other')
    +show('.other')
  .slide
    +blur('.other')
    +unblur('.ethical-abilities')
    .notes: :t
      Note that we should allow that there is room for discoveries about which ethical abilities
      particular kinds of individual possess.
      For example, what ethical abilities do dogs have, or do humans in the first year of life have?
      There is even room for discovery about the ethical abilities of adult humans.
  .slide
    {# p.em-above: +moral_psychology_df #}
  .slide
    +show('.linguistic')
    .notes: :t
      Similar questions could be asked about linguistic abilities, that is, abilities to communicate with words.
      [psycholinguistics]
  .slide
    +show('.mathematical, .aesthetic')
    .notes: :t
      We can also compare ethical abilities to mathematical or aesthetic abilities.
      While ethical abilities are in some ways more fundamental---because they explain the possibility
    .notes: :t
      These comparisons are going to be useful in what follows. Because more is known about linguistic and
      mathematical abilities, we may be able to use theories about these as a model for ethical abilities.
  .slide
    +blur('.linguistic, .mathematical, .aesthetic')
    .notes: :t
      But this is a course about ethical abilities. Our main question is ...
  .slide
    .handout Questions for this course:
    p.em-above.handout.show What ethical abilities do humans have? What states and processes underpin them?
  .slide
    p.notes.handout.show.em-above What, if anything, do discoveries about ethical abilities imply for political conflict
      span.q2.hide , and what do they imply about ethics
      span ?
  .slide
    +show('.q2')

+slide_middle
  .notes: :t
    Structure of this course
  p Course Structure
  p &nbsp;
  p.hem-around Part 1: psychological underpinnings of ethical abilities
  p.hem-around Part 2: political consequences
  p.hem-around Part 3: implications for ethics
  .notes: :t
    There will also be a little on the evolution, and the development, of ethical abilities along the way.
    And we will also explore a little of the research on cultural diversity.

</slides>