---
title : 'Options Faire'
description: |
  Short introduction for people thinking about whether to take this course.
streamId: '49f089f6-0b58-4b80-b6d4-bbc67ea52a9d'
youtubeId: 'G2Cl6vV2Omg'
---
{# https://web.microsoftstream.com/video/49f089f6-0b58-4b80-b6d4-bbc67ea52a9d #}
{#  #}
<handout>




</handout>

<slides>
//- <script>

  
+slide_middle
  p(style='line-height:0.2em').center.huge-glow-50
    span.philosophical Philosophical
    span  Issues
  p(style='line-height:0.2em').center.huge-glow-invert-50: span in
  p(style='line-height:0.2em').center.huge-glow-50
    span.bs Behavioural Science
    span :
  p &nbsp;
  p(style='line-height:0.7em').center.huge-glow-invert-50
    span from Individual 
    br
    span to 
    span.collective Collaborative 
    br
    span.action Action
  .notes.
    Hi, I'm Steve Butterfill and
    I'll be teaching a course called
    [...] in Term 2 next year.
  .notes.
    [intruder] That is the worst name for a module I’ve ever heard.
    Folks you should definitely not take this one.
  .notes.
    What? Who are you? 
    OK It’s not the catchiest name.
    But at least let me tell you something about it.
  .slide
    +fade('span:not(.action)')
    +add-class('.action','huge-glow-50')
    .notes.
      Your actions are your effects on the world around you.
  .slide
    +unfade('.philosophical')
    .notes.
      Philosophers have asked some deep and puzzling questions about
      action and its nature.
    .notes.
      The most basic of these puzzling questions is simply, Which events in your life are 
      actions as opposed to things that merely happen to you?
      What is your contribution to the world?
  .slide
    +unfade('.bs')
    .notes.
      To make progress in answering these questions, we need to mix philosophical theories
      with discoveries in behavioural sciences like psychology and neuroscience. 
    .notes.
      These are discoveries about habits and learning, as well as about the processes involved
      in preparing and controlling actions.
    .notes.
      [intruder] But why do this as a philosopher?
      Is your course pseudo-science?
    .notes.
      Fair question. The scientific discoveries do not by themselves provide answers
      to the philosophical questions.
      We need to do some work to connect the philosophy with the science.
      And this is useful because it can suggest novel scientifical conjectures 
      as well as providing us with a fresh perspective as philosophers.
    .notes.
      If you want to understand action, you cannot ignore discoveries about 
      motivation and habit, and about action control.
  .slide
    +fade('.philosophical, .bs')
    +unfade('.collective')
    +add-class('.collective','huge-glow-50')
    +remove-class('.action','huge-glow-50')
    .notes.
      Here’s the other main feature of this course:
      it’s about not just individual action but also collaborative action.
    .notes.
      Many of our actions are things we do with others.
      We play games, walk together and cook together.
    .notes.
      Capacities for collaborative action are the basis for any kind
      of social structure. 
      And recently philosophers have shifted more and more attention to 
      collaborative aspects of action.
    .notes.
      Here we face questions about the nature of collaborative action,
      about whether intentions and other mental states can be shared,
      and about the limits of formalizations including game theory.
    .notes.
      And also in this part of the course we will attempt to use
      discoveries from behavioural science to tackle philosophical questions.
  .slide
    +unfade('span')
    .notes.
      [intruder] Oh that was fascinating but I wasn’t listening.
    .notes.
      Well here’s the course in essence.
      Two questions.
      One about individual action, the other about collaborative action.
      First, which events in your life are your actions?
      And, second, What distinguishes doing something jointly with another person
      from acting in parallel with them but merely side by side.
    .notes.
      [intruder] You mean like us, side-by-side? Are we acting jointly?
    .notes.
      No you’re interrupting and messing up my video.
    .notes.
      [intruder] Ok, is there somewhere I can find out more?
  .slide
    .notes.
      Great question. At this link you can see a bit more.
      There isn’t much there yet but I’ll add more in time.
    p.center https://philosophical-issues-in-behavioural-science.butterfill.com
    .notes.
      pss, You’re in the way of the url.
    .notes.
      [intruder] oh sorry, I’m gone.
  .slide
    .notes.
      And if you want to see a completed course, take a look at moral psychology.
      I’ll use the same format for philosophical issues in behavioural science.
    p.em-above.center [ https://moral-psychology.butterfill.com ]
    .notes.
      Thanks for listening. It will be great to have you on the course.
    .notes.
      [intruder] thank you
    .notes.
      not you!
    .notes.
      See *you* in Term 2.


+slide
  p.
    That is the worst name for a module I’ve ever heard.
    Folks you should definitely not take this one.
+slide
  p.
    [intruder] But why do this as a philosopher?
    Is your course pseudo-science?
+slide
  p.
    [intruder] You mean like us, side-by-side? Are we acting jointly?
  p.
    No you’re interrupting and messing up my video.
  p.
    [intruder] Ok, is there somewhere I can find out more?
  .slide
    p.
      pss, You’re in the way of the url.
    .notes.
      [intruder] oh sorry, I’m gone.
  .slide
    p.
      Thanks for listening. It will be great to have you on the course.
    p.
      [intruder] thank you


</slides>