---
title: "Why Investigate Philosophical Issues in Behavioural Science?"
description: |
  We consider three reasons (and one non-reason) for studying investigating 
  philosophical issues in behavioural science.
  This is not supposed to be an exhaustive list.
youtubeId: ''
streamId: ''
book: 
---

<handout>

 </handout>

<slides>
//- +slide_middle
//-   p.center Why investigate moral psychology?

+slide_middle({bkg:'why_it_matters.jpg', timer:true})
  +hide('img.bkg', 0)
  p.center Why this course?
  .notes: :t
    What led you here? Discuss with the person next to you.
    Most interesting answers on a post it, stick them on the board
    during the break.
  .slide
    +show('img.bkg')
  +show-timer
  +start-timer

//- to do: use Greene quote

section.slide
  .notes: :t
    Reason 1: it enables us to better understand human sociality
  +_slide_middle_inner
    p.center.huge-glow-150 1
  +reset
    +_slide_middle_inner
      p.center human sociality

+slide_middle
  p Modern humans
  .step2.hide
    p have recently (~10 000 years ago) begun to
  p live in societies roughly as complex as those of social insects
  .step3.hide
    p but cooperate with non-kin.
  .slide
    +show('.step3')
  .slide
    +show('.step2')
    .notes: :t
      (~10 000 years ago, relative to the 100 000 years since they first appeared) 
  .slide
    p.em-above How is this possible?


+slide_middle
  .notes Time for a summary ...
  p Why investigate philosophical issues in behavioural science?
  p &nbsp;
  .hem-around-children
    p.indent human sociality
    p.indent ...

</slides>
