---
title: "Seminar Tasks (yyrama)"
description: |
  The most important work on this course, apart from the assessments, is the weekly seminar tasks.
  You need to submit some work before your seminar each week.
  This mostly involves writing, or re-writing, a mini essay as well as peer-reviewing another
  student’s work.
  The seminars exist for you to discuss your writing.
streamId: '4212a42b-a721-4bbc-a4de-1ec0f50acd63'
youtubeId: 'zp8iVqMgfHg'
---

<handout>

Sign up on [yyrama](https://yyrama.butterfill.com/course/view/philosophicalIssuesInBehaviouralScience) and let yyrama 
know which seminar group you are in.

You can find the weekly essays and peer reviews here:

> [https://yyrama.butterfill.com/course/view/philosophicalIssuesInBehaviouralScience](https://yyrama.butterfill.com/course/view/philosophicalIssuesInBehaviouralScience)

If you attend a different seminar group one week, please update your seminar group
on yyrama so that your work goes to your tutor.

</handout>


<slides>
+slide_middle
  p.hem-around.center share your writing with your seminar tutor each week
  .slide
    +blur('p:eq(0)')
    p.hem-around.center seminars are to discuss your writing
  .slide
    +blur('p:eq(1)')
    p.center peer review

+slide_middle
  p.center.huge-glow yyrama
  p.center(style='margin-top:-75px;') .butterfill.com
</slides>
