---
title: Lecture 01
subtitle: Philosophical Issues in Behavioural Science
lecture_date: 2022-01-11
slides:
  images: sunclouds
  mixins:
    - lecture_mixins
hidden: false
units:
  #  - options_faire this works fine and used to create the video 
  - introduction:
      title_slide: false
  - asking_questions
  - how_to_lectures
  - components_of_this_course
  - why_it_matters
  - conclusion_01
  - yyrama
  - lecture_01_questions
---





