---cson
layout: 'deck_unit'
title: "Kourtis et al (2014)"
tags: []
description: ""
depends: ['']
source: ['']
duration: 5
book: []
exercises: []
exercises_fast: []
---

include ../../../fragments/unit_mixins
include ../../../fragments/joint_action_mixins



+slide({bkg:'della_gatta_design.jpg'})
  p.source della Gatta et al (submitted)
  .notes: :t
    To test this conjecture, Corrado Sinigaglia and I teamed up with
    Francesco della Gatta, Francesca Garbarini and Marco Rabuffetti. 
    We adapted a bimanual paradigm, the circle-line drawing paradigm, which has been 
    extensively employed for investigating bimanual interference (Franz et al, 1991). 
  .notes: :t
    When people have to simultaneously perform noncongruent movements, 
    such as drawing lines with one hand while drawing circles with the 
    other hand, each movement interferes with the other and line trajectories 
    tend to become ovalized. This “ovalization” has been described as a \textbf{bimanual coupling effect}, 
    suggesting that motor representations for drawing circles can affect motor representations 
    for drawing lines (Garbarini et al. 2012; 2013a; 2015a; 2015b; Garbarini and Pia 2013; 
    Piedimonte et al. 2014). 
  .notes: :t
    In the key conditions of our adapted version of the circle-line drawing paradigm, 
    participants were asked to unimanually draw circles with their right hands 
    while observing either lines being unimanually drawn by a confederate (Garbarini et al, 2013b; 
    Garbarini et al, 2016). 
  .notes: :t
    We contrasted a Parallel Action task with a Joint Action task. 
    These tasks differed only in the instructions given. 
  .notes: :t
    In the Joint Action task participants were instructed to perform the task 
    together with the confederate, as if their two drawing hands gave shape to a single design. 
  .notes: :t
    In the Parallel Action task, participants were given no such instruction so that 
    they could draw in parallel, observing each other but not acting together. 
  .notes: :t
    If participants were to follow our instructions, their actions would have 
    the collective goal of drawing a circle and a line in the Joint Action task but not in 
    the Parallel Task. 
  .notes: :t
    Our conjecture entails that this collective goal could be represented motorically. 
    Accordingly, we predicted that there should be an interpersonal motor coupling effect. 
    This would result in greater ovalization of the lines drawn in the Joint Action task 
    than in the Parallel Action task ...
  
+slide
  .notes: :t
    And that was actually what we found.
  .notes: :t
    Our hypothesis is that interpersonal motor coupling may occur when an individual is acting unimanually, providing she is acting jointly with another and not merely acting in parallel. This is because in joint action, but not in parallel action, an individual could represent motorically the collective goal of drawing both a circle and a line even if she is actually only drawing a line. Somewhat as in the case of individual bimanual action, so also in joint action: the motor representations of one hand’s drawing can influence the motor representations of the other hand’s drawing.  One difference in joint action, of course, is that the hands belong to different individuals.
  +img('della_gatta_fig.png')
  p.source della Gatta et al (submitted)
